.box {
     display: flex;
     flex-flow: row nowrap;
	 border: dotted 1px;
	 justify-content : center;
}

/* justify-content : flex-start / flex-end / center / space-around / space-between / space-evenly */

.box div {
	background-color: yellow;
	border : 1;
	margin: 10px;
	width: 300px;
}