#global{
	width: 400px;
	height: 400px;
	background-color: Silver;
}

div{
	width: 100px;
	height: 100px;
	background-color: Red;
}

#bloc1 {
	z-index: 10;
}

#bloc2{
	position: relative;
	bottom: 50px;
	left: 25px;
	background-color: Yellow;
}

code {
	"Courier New", Courier, monospace;
}
