#global{
    width:400px;
    height:400px;
    position:relative;
    clear:both;
    background-color: Silver;
}
 
div{
    width:100px;
    height:100px;
    margin-top:10px;
    margin-right:10px;
    float:left;
    background-color: Red;
}
#bloc3{
    clear:left;
    background-color: Blue;
}