#global{
	width: 400px;
	height: 400px;
	/* position: relative; */
	background-color: Silver;
}
 
#global div{
	width: 100px;
	height: 100px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

#bloc1 {
	background-color: red;
}

#bloc2 {
	background-color: yellow;
}

#bloc3 {
	background-color: blue;
}

#bloc4 {
	background-color: green;
}