.box {
     display: flex;
     flex-flow: row nowrap;
	 border: dotted 1px;
	 align-items: stretch;
}

/* align-items : stretch / flex-start / flex-end / center */


.box div {
	background-color: yellow;
	border : 1;
	margin: 10px;
	width: 300px;
}